img{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    cursor: pointer;
}

@media (max-width:992px){
    img{
        width: 300px;

    }
}

@media (max-width:767px){
    img{
        width: 200px;

    }
}